RewriteEngine On
RewriteCond %{THE_REQUEST} ^GET\ /public/(.*)
RewriteRule ^public/(.*) http://localhost/projets/CREA_DEV/site_pro/index.php/$1 [L,R=301]

RewriteRule ^index\.php$ - [L,NC]
# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
# route to index.php in current directory
RewriteRule ^(.+)$ index.php?path=$1 [L,QSA]